html {
  font-size: 62.5%;
}

body{
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  line-height: 1.3; /* vertical space between lines. Here it is 1.3 x font-size */
  letter-spacing: 1px; /* horizontal space between letters */
  word-spacing: 5px;
}

/* ideal line length is between 50 to 70 characters */
p{
  width: 50ch; /* about 50 to 70 normal sized characters */

}

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  h1{
    margin: 3rem 0 1rem 0; /* trbl */ /*  moves heading closer to its paragraph and further from one before */ 
    font-size: 2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  /* Desktop Size */
  @media screen and (min-width: 800px) {
    html{
      font-size: 130%;
    }
  }